input{
    border: none;
    background-color:beige;
    border-radius: 4px;
    margin: 4% auto;
    display: block;
    width: 50%;
    height: 40px;
    padding: 12px;
    font-weight: bold;
    outline: none;
}

input:focus{
    background-color: #FFF;
    border: 1px solid rgb(167, 166, 166);
}