@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

body{
  background-color: cadetblue;
  padding-bottom: 20px;
}

.App{
  width: 90%;
  margin: 0 auto;
}

.App h2{
  text-align: center;
  font-family: 'Train One', sans-serif;
  padding: 10px;
}